/vendor
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
storage/logs/
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/
_ide_helper.php
/nbproject/private/
public/uploads/
