<!-- Page Canvas-->
<div id="page-canvas">
    <!--Off Canvas Navigation-->
    <nav class="off-canvas-navigation">
        <header>Navigation</header>
        <div class="main-navigation navigation-off-canvas"></div>
    </nav>
    <!--end Off Canvas Navigation-->

    <!--&lt;!&ndash;Sub Header&ndash;&gt;-->
    <!--<section class="sub-header">-->
    <!--<div class="search-bar horizontal collapse" id="redefine-search-form"></div>-->
    <!--&lt;!&ndash; /.search-bar &ndash;&gt;-->
    <!--<div class="breadcrumb-wrapper">-->
    <!--<div class="container">-->
    <!--<div class="redefine-search">-->
    <!--<a href="#redefine-search-form" class="inner" data-toggle="collapse" aria-expanded="false" aria-controls="redefine-search-form">-->
    <!--<span class="icon"></span>-->
    <!--<span>Redefine Search</span>-->
    <!--</a>-->
    <!--</div>-->
    <!--<ol class="breadcrumb">-->
    <!--<li><a href="index-directory.html"><i class="fa fa-home"></i></a></li>-->
    <!--<li><a href="#">Page</a></li>-->
    <!--<li class="active">Detail</li>-->
    <!--</ol>-->
    <!--&lt;!&ndash; /.breadcrumb&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.breadcrumb-wrapper&ndash;&gt;-->
    <!--</section>-->
    <!--&lt;!&ndash;end Sub Header&ndash;&gt;-->

    <!--Page Content-->
    <div id="page-content">
        <section class="container">
            <div class="block">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <header>
                            <h1 class="page-title">Forget Password</h1>
                        </header>
                        <hr>
                        <form role="form" id="form-sign-in-account" method="post" data-ng-submit="vm.resetNewPassword(vm.resetModel)">
                            <div class="form-group"
                                 ng-class="{'has-error':vm.errors.email, 'has-success':!vm.errors.email}">
						<span class="input-icon"> <input type="email"
                                                         class="form-control" name="email" data-ng-model="vm.resetModel.email" placeholder="Email" > <i
                                class="fa fa-envelope-o"></i>
						</span>
                                <span class="error text-small block" ng-if="vm.errors.email">{{vm.errors.email}}</span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error':vm.errors.password, 'has-success':!vm.errors.password}">
						<span class="input-icon"> <input type="password"
                                                         class="form-control" name="password" data-ng-model="vm.resetModel.password"
                                                         placeholder="New password" > <i
                                class="fa fa-password-o"></i>
						</span>
                                <span class="error text-small block" ng-if="vm.errors.password">{{vm.errors.password}}</span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error':vm.errors.password_confirmation, 'has-success':!vm.errors.password_confirmation}">
						<span class="input-icon"> <input type="password"
                                                         class="form-control" name="password_confirmation" data-ng-model="vm.resetModel.password_confirmation"
                                                         placeholder="Confirm new password" > <i
                                class="fa fa-password-o"></i>
						</span>
                                <span class="error text-small block" ng-if="vm.errors.password_confirmation">{{vm.errors.password_confirmation}}</span>
                            </div>
                            <div class="form-group clearfix">
                                <button type="submit" class="btn pull-right btn-default" id="account-submit">Sign In</button>
                            </div><!-- /.form-group -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.block-->
    </div>
    <!-- end Page Content-->
</div>
<!-- end Page Canvas-->