<!--Page Content-->
<div id="page-content">
    <section class="container">
        <header>
            <h1 class="page-title">About Us</h1>
        </header>
    </section>
    <!--/.container-->
    <section id="image">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-banner">
                    <figure>
                        <img src="assets/img/marker.png" alt="">
                    </figure>
                    <div class="description">
                        <h2>The best spots in one place</h2>
                        <p>
                            SPORTOFITT is web based one stop destination for Sports,
                            Adventure sports and Fitness. We have a mission to make Sports/Fitness a habit to help you stay
                            active in the modern world, and do so through sports and fitness. Regardless of your skill level
                            or physical condition, sportofitt.com will help you connect to the activities of your choice
                            and find other people with similar interests or abilities and bring back the joy of playing and workout.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--&lt;!&ndash;/.container&ndash;&gt;-->
        <!--<div class="background">-->
            <!--<img src="assets/img/about-us-bg.jpg" alt="">-->
        <!--</div>-->
        <!--&lt;!&ndash;/.bakcground&ndash;&gt;-->
    </section>
           </div>
