<!-- Page Canvas-->
<div id="page-canvas">
    <!--Page Content-->
    <div id="page-content">
        <section class="container">
            <div class="row">
                <!--Content-->
                <div class="col-md-9">
                    <header>
                        <h1 class="page-title">Contact</h1>
                    </header>
                    <section>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <header class="no-border"><h3>Address</h3></header>
                                <address>
                                    <div><strong>Sportofitt</strong></div>
                                    <div> Bungalow 97, Jayanti Nagari III
                                    </div>
                                    <div> New Somalwada, Nagpur 440005</div>
                                    <br>
                                    <figure>
                                        <div class="info">
                                            <i class="fa fa-mobile"></i>
                                            <span>+91 94579 12886</span>
                                        </div>
                                        <div class="info">
                                            <i class="fa fa-envelope-o"></i>
                                            <a href="mailto:care@sportofitt.com"><span>care@sportofitt.com</span></a>
                                        </div>

                                        <div class="info">
                                            <i class="fa fa-globe"></i>
                                            <a href="#">www.sportofitt.com</a>
                                        </div>
                                    </figure>
                                </address>
                            </div>
                            <!--&lt;!&ndash;/.col-md-4&ndash;&gt;-->
                            <!--<div class="col-md-4 col-sm-4">-->
                                <!--<header class="no-border"><h3>Social Networks</h3></header>-->
                                <!--<a href="#" class="social-button"><i class="fa fa-twitter"></i>Twitter</a>-->
                                <!--<a href="#" class="social-button"><i class="fa fa-facebook"></i>Facebook</a>-->
                                <!--<a href="#" class="social-button"><i class="fa fa-pinterest"></i>Pinterest</a>-->
                            <!--</div>-->
                            <!--/.col-md-4-->
                            <div class="col-md-6 col-sm-6">
                                <header class="no-border"><h3>About Us</h3></header>
                                <p>
                                    SPORTOFITT is web based one stop destination for Sports,
                                    Adventure sports and Fitness. We have a mission to make Sports/Fitness
                                    a habit to help you stay ...

                                </p>
                                <a ui-sref="app.about" class="read-more icon">Read More</a>
                            </div>
                            <!--/.col-md-4-->
                        </div>
                        <!--/.row-->
                    </section>
                    <!--<hr>-->
                    <!--<section>-->
                        <!--<header class="no-border"><h3>Contact Form</h3></header>-->
                        <!--<form id="contact-form" role="form" method="post" action="?" class="background-color-white">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-6 col-sm-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="company-form-name">Name</label>-->
                                        <!--<input type="text" class="form-control" id="company-form-name" name="company-form-name" required="">-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash; /.form-group &ndash;&gt;-->
                                <!--</div>-->
                                <!--&lt;!&ndash;/.col-md-6&ndash;&gt;-->
                                <!--<div class="col-md-6 col-sm-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="company-form-email">Email</label>-->
                                        <!--<input type="email" class="form-control" id="company-form-email" name="company-form-email" required="">-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash; /.form-group &ndash;&gt;-->
                                <!--</div>-->
                                <!--&lt;!&ndash;/.col-md-6&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="company-form-message">Message</label>-->
                                <!--<textarea class="form-control" id="company-form-message" name="company-form-message"  rows="3" required=""></textarea>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.form-group &ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--<button type="submit" class="btn btn-default icon">Send a Message<i class="fa fa-angle-right"></i></button>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.form-group &ndash;&gt;-->
                        <!--</form>-->
                        <!--&lt;!&ndash;/#contact-form&ndash;&gt;-->
                    <!--</section>-->
                </div>
                <!--end Sidebar-->
            </div>
        </section>
    </div>
    <!-- end Page Content-->
</div>