<!--Page Content-->
<div id="page-content" class="page-subpage page-terms-conditions">
    <section class="container">
        <div class="row">
            <!--Content-->
            <div class="col-md-12">
                <header>
                    <h1 class="page-title">FAQ</h1>
                </header>
                <section>
                    <p align="center">&nbsp;</p>
                    <p><font face="Times, serif"><span lang="en-IN"><strong>USERS</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN"><strong>What is SPORTOFITT?</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">SPORTOFITT is your one stop destination for your fitness and therapy needs. It provides booking your favorite sport, fitness, adventure, and spa session online without any hassle. It also allows you to buy short and long-term plans suit your needs.</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN"><strong>Why SPORTOFITT?</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">1. You never to worry about physically booking your activity session</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">2. Hundreds of option to choose from.</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">3. Get bonus points when you pay online</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">4. Get discounts on buying sessions or packages for the activity</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">5. Find partner to play your favorite sport</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">6. Split payment with your partner</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN"><strong>How do I book and use the facility?</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">All you have to do is register with online, search for the activity in the area of your choice, pay online to book the facility, and show the confirmation at the reception of the facility and use it.</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN"><strong>When can I book the facility to use?</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">You can book the activity and facility of your choice 24X7.</span></font></p>

                    <hr>
                    <p lang="en-IN"><font face="Times, serif"><span lang="en-IN"><strong>SELECT PARTNER</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN"><strong>Whats in it for me?</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">We help you reach to wider customer base helping you grow your business.</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN"><strong>Why SPORTOFITT?</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">1. Create unlimited sessions/packages which suits your customer base</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">2. Free, secure online booking system</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">3. Unlock your inventory by creating various programs</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">4. Update, add programs, pictures, pricing etc. at any time</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">5. Zero upfront and marketing cost</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">6. Get your own web page on our website</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">7. Manage sales and inventory effortlessly</span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN"><strong>How do I become a SELECT PARTNER?</strong></span></font></p>
                    <p><font face="Times, serif"><span lang="en-IN">Write to us at </span></font><a href="mailto:select@sportofitt.com"><font color="#0000ff"><font face="Times, serif"><span lang="en-IN"><u>select@sportofitt.com</u></span></font></font></a><font face="Times, serif"><span lang="en-IN">, call us at 9457912886 or just register with us at </span></font><a href="http://www.sportofitt.com/select"><font color="#0000ff"><font face="Times, serif"><span lang="en-IN"><u>www.sportofitt.com/select</u></span></font></font></a></p>
                    <p>&nbsp;</p>
                </section>
            </div>

        </div>
    </section>
</div>
