<!-- Navigation-->
<div class="header">
    <div class="wrapper">
        <div class="brand">
            <a ui-sref="app.home"><img src="assets/images/logo.png" alt="logo" style="max-width: 72%;margin-bottom: 0"></a>
        </div>
        <nav class="navigation-items">
            <div class="wrapper">
                <ul class="main-navigation navigation-top-header"></ul>
                <ul ng-if="!isAuthenticated" class="user-area">
                    <li><a ui-sref="app.login">Sign In</a></li>
                    <li><a ui-sref="app.register"><strong>Register</strong></a></li>
                      </ul>
                <ul ng-if="isAuthenticated" class="user-area">
                    <li><a ui-sref="app.logout">Sign Out</a></li>
                   <li><a ui-sref="app.profile"><strong>Profile</strong></a></li>
                    <li><a ui-sref="app.mybookings"><strong>My Bookings</strong></a></li>

                </ul>

                <div class="toggle-navigation">
                    <div class="icon">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- end Navigation-->
