<!-- Navigation-->
<div class="header">
    <div class="wrapper">
        <div class="brand">
            <a ui-sref="home"><img src="../assets/images/logo.png" alt="logo" style="max-width: 72%;margin-bottom: 0"></a>
        </div>
        <nav class="navigation-items">
            <div class="wrapper">
                <ul class="main-navigation navigation-top-header"></ul>
                <ul class="user-area">
                    <li><a ui-sref="login">Sign In</a></li>
                    <li><a ui-sref="register"><strong>Register</strong></a></li>
                </ul>
                <a href="submit.html" class="submit-item">
                    <div class="content"><span>Submit Your Item</span></div>
                    <div class="icon">
                        <i class="fa fa-plus"></i>
                    </div>
                </a>
                <div class="toggle-navigation">
                    <div class="icon">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- end Navigation-->
