<!-- start: reset -->
<div class="row">
    <div
            class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo">
            <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" />
        </div>
        <!-- start: reset BOX -->
        <div class="box-reset" data-ng-controller="resetPasswordCtrl">
            <form class="form-reset" name="Form" novalidate>
                <fieldset>
                    <legend> Reset Password </legend>
                    <p>Enter your details below to reset your password.</p>
                    <div class="form-group"
                         ng-class="{'has-error':errors.email, 'has-success':!errors.email}">
						<span class="input-icon"> <input type="email"
                                                         class="form-control" name="email" data-ng-model="myModel.email" placeholder="Email" > <i
                                class="fa fa-envelope-o"></i>
						</span>
                        <span class="error text-small block" ng-if="errors.email">{{errors.email}}</span>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error':errors.password, 'has-success':!errors.password}">
						<span class="input-icon"> <input type="password"
                                                         class="form-control" name="password" data-ng-model="myModel.password"
                                                         placeholder="New password" > <i
                                class="fa fa-password-o"></i>
						</span>
                        <span class="error text-small block" ng-if="errors.password">{{errors.password}}</span>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error':errors.password_confirmation, 'has-success':!errors.password_confirmation}">
						<span class="input-icon"> <input type="password"
                                                         class="form-control" name="password_confirmation" data-ng-model="myModel.password_confirmation"
                                                         placeholder="Confirm new password" > <i
                                class="fa fa-password-o"></i>
						</span>
                        <span class="error text-small block" ng-if="errors.password_confirmation">{{errors.password_confirmation}}</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary pull-right" ng-click="form.resetPassword(myModel); ">
                            Submit <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">{{app.year}} &copy; {{ app.name }} by {{
                app.author }}.</div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: reset BOX -->
    </div>
</div>
<!-- end: reset -->
